.navimage{
    width:40px;
    height:40px;
    border-radius: 50%;
    margin-right:5%;
}
.navproflinks{
    margin-right: 8%;
}
.login_container{
    overflow: hidden;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar-font-text {
    color: white !important;
    font-weight: bold !important;
    font-size: 25px !important;
}

.sidebar-font-text:hover{
    opacity: 0.7;
}

.category-font-header{
    color: white !important;
    font-weight: bold !important;
    font-size: 25px !important;
}
.category-font-sections{
    color: white !important;
    font-weight: bold !important;
    font-size: 20px !important;
}
.category-font-sections:hover{
    cursor:pointer;
    opacity: 0.7;
}
.suggested-container{
    margin:20px;
}
.books-inline-container{
    height:50px;
    width:100%;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0,0.5) !important;
}
.suggested-box{
    color: white !important;
    font-weight: bold !important;
    font-size: 50px !important;
}
.btn-view-books{
    color: #fff;
    background-color: #15BEAD;
    border-color: #15BEAD;
    width: 100px;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
}
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}
.box_shad {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card_shad {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-cart{
    width: 100%;
    height: 300px;
    border-style: solid;
    border-color: lightgray; 
}
.item-choose{
    cursor: pointer;
}
.items{
    cursor: pointer;
}
.search-item-choose{
    cursor: pointer;
}
.search-item-choose:hover{
    opacity: 0.5;
}
.card-container{
    height: 100%;
    overflow-y: initial !important
}
.item-sale{
    text-decoration-line: line-through;
}
.item-choose:hover{
    opacity: 0.5;
}
.my-cart{
    background: #DBDBDB;
}
.item-cart{
    height:485px;
    width:100%;
    overflow-y: auto;
}
.my-itm{
    padding: 0px 0px 0px 0px !important;
}
.item-cart1{
    height:500px;
    width:100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.3) !important;
    border-radius: 55px;
}
.table_shad{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.item-description{
    margin-top: 5px;
    font-weight: bold;
}
.item-title{
    font-size: 25px;
    font-weight: bold;
}
.getItems{
    text-align: center;
}
.profile_content{
    margin-left:5%;
    margin-right:5%;
}
.image_profile{
    border-style: solid;
    border-color: lightgray; 
}
.imgup{
    text-align:center;
}
.image_landing{
    height: 300px;
    width: 300px;
    border-style: solid;
    border-color: lightgray; 
    border-radius: 50%;
    margin-top:5%;
    margin-bottom:5%;
}
.image_educ{
    height: 125px;
    width: 150px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 50%; 
}
.profile_container{
    margin-top:3%;
    margin-bottom:2%;
    overflow-x: hidden;
}
.profile-new-container{
    margin-top:10%;
    margin-bottom:2%;
}
.profile_below{
    margin-top:2%;
    margin-bottom:5%;
}
.imgup{
    text-align:center;
}
.img_cert{
    width:80%;
    height: 300px;
    border-style: solid;
    border-color: lightgray; 
}
/* @media (min-width: 320px){
    .content-container{
        max-width: 320px;
    }
    .login-title{
        letter-spacing: 5px;
    }
    .logo{
        width: 150px;
        height: 90px;
        padding-bottom: 2%;
    }
    
}
@media (min-width: 375px){
    .content-container{
        max-width: 375px;
    }
    .login-title{
        letter-spacing: 5px;
    }
    .logo{
        width: 150px;
        height: 90px;
        padding-bottom: 3%;
    }

} */
/* @media (min-width: 411px){
    .content-container{
        max-width: 470px;
    }
    .login-title{
        letter-spacing: 5px;
    }
} */
@media (min-width: 768px){
    .content-container{
        max-width: 780px;
    }
    a{
        color: #800;
    }
    .login-title{
        letter-spacing: 5px;
    }
    .logo{
        width: 200px;
        height: 100px;
        padding-bottom: 3%;
    }
}
@media (min-width: 1024px){
    .content-container{
        max-width: 1050px;
    }
    a{
        color: #800;
    }
    .login-title{
        letter-spacing: 5px;
    }
    .logo{
        width: 200px;
        height: 100px;
        padding-bottom: 3%;
    }
    
}
@media (min-width: 1024px){
    .content-container{
        max-width: 1220px;
    }
    a{
        color: #800;
    }
    .login-title{
        letter-spacing: 5px;
    }
    .login_form{
        padding-top: 5%;
    }
    .logo{
        width: 200px;
        height: 100px;
        padding-bottom: 2%;
    }
    .signup_title{
        letter-spacing: 5px;
    }
    
}

@media (min-width: 1440px){
    .content-container{
        max-width: 1450px;
    }
    a{
        color: #800;
    }
    .login-title{
        letter-spacing: 5px;
    }
    .login_form{
        padding-top: 5%;
    }
    .logo{
        width: 200px;
        height: 100px;
        padding-bottom: 2%;
    }
    .signup_title{
        letter-spacing: 5px;
    }
}


.carousel-inner img{
    height: 100vh;
}

.form-control{
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

.form-control:active{
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

a.dropdown-toggle:hover{
    cursor: pointer !important;
}

.signup_form{
    padding-top: 5%;
}

.explore_page{
    background: url('assets/explore-bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.landing_page{
    background-image: url('assets/landing_bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 615px;
}

.hero-title{
    background-color: rgba(0, 0, 0, 0.5);
    margin: 15% auto 5% auto;
    padding: 3px 5% 3px 5%;
}

.hero-description{
    background-color: rgba(0, 0, 0, 0.5);
    width: 70%;
    margin: 0 auto 3% auto;
    padding: 1% 5% 5px 5%;
    text-align: center;
}

.login_button{
    margin: 0 auto 3% auto;
    width: 70%;
    margin: 0 auto 3% auto;
    padding: 3px 5% 3px 5%;
    text-align: center; 
}

.login_button > button {
    background-color: #A94C4C;
    color: #fff;
    width: 20%;
    border: 2px solid black;
    border-radius: 23px;
}

